In [1]:
import numpy as np
import pandas as pd
candi_raw = pd.read_csv('full_candidate.csv')
jobs_raw = pd.read_csv('test_job.csv')

In [3]:
candi_raw.head()

,Unnamed: 0,educations,location,organizations,skills
0,0,"[{'Education 1': {'Education Start 1': 'nan', ...",Thailand,[{'Organization 1': {'Organization End 1': 'Ap...,"[{'Strategy': Decimal('98')}, {'Start-ups': De..."
1,1,"[{'Education 1': {'Education Start 1': 'nan', ...",Thailand,[{'Organization 1': {'Organization End 1': 'Ma...,"[{'Management': Decimal('14')}, {'Social Media..."
2,2,"[{'Education 1': {'Education Start 1': 'nan', ...",Thailand,[{'Organization 1': {'Organization End 1': 'Oc...,"[{'Sales': Decimal('4')}, {'Logistics': Decima..."
3,3,"[{'Education 1': {'Education Start 1': 'nan', ...",Thailand,[{'Organization 1': {'Organization End 1': 'Ju...,"[{'Food': Decimal('10')}, {'Marketing Strategy..."
4,4,"[{'Education 1': {'Education Start 1': 'nan', ...",Thailand,[{'Organization 1': {'Organization End 1': 'Ja...,"[{'FinTech': Decimal('42')}, {'Biometrics': De..."

In [4]:
jobs_raw.head()

,Unnamed: 0,address,city,company,country,currency,department,description,id,insert_date,...,nationalities,owner,refer_bonus,salary,status,status2,title,title_type,uuid,view
0,0,Rama 9,Bangkok,2C2P,Thailand,THB,6,<p><strong>Responsibilities</strong></p><ul><l...,573,2017-02-02 06:17:36,...,Expats Only,NaN,16000,80000,0,0,Sr.Web developer,Payment gateway,1ce799bcb51f31a4a93dcb7e97db32e3,913
1,1,Sukhumvit Rd,Bangkok,AdAsia,Thailand,THB,7,<p><strong>Responsible:</strong></p><ul><li>Pr...,681,2017-04-27 09:41:27,...,Thai,NaN,8000,40000,0,0,Manager,NaN,0aaea9929fe33fc394c0a9e225096b7a,134
2,2,Wattana Bangkok 10110,Bangkok,True DMP Reed,Thailand,THB,3,<p><strong>Qualifications</strong></p><ul><li>...,259,2015-12-28 04:10:12,...,All,NaN,20000,80000,0,0,Quality Engineer,Digital Media Platform,c4e601348d313e9fa3d9b6b974ce1a83,552
3,3,NaN,Bangkok,Kaidee,Thailand,THB,3,<p>Our client is seeking a senior team member ...,627,2017-03-20 03:18:41,...,NaN,NaN,40000,150000,0,0,Engineering Director,NaN,e679915247e93394bd4d5c7ac2a564f9,558
4,4,Rama IX,Bangkok,TRUE DMP Rodney,Thailand,THB,6,<p><strong>Company description</strong></p><p>...,549,2017-01-18 13:16:19,...,Thai,NaN,16000,80000,0,0,Solution Architect,Digital Media Platform,1a72cd9fa7ae34f7979be29bc3d5a466,1007

In [7]:
candi_sk = candi_raw["skills"]
candi_sk.head()

0    [{'Strategy': Decimal('98')}, {'Start-ups': De...
1    [{'Management': Decimal('14')}, {'Social Media...
2    [{'Sales': Decimal('4')}, {'Logistics': Decima...
3    [{'Food': Decimal('10')}, {'Marketing Strategy...
4    [{'FinTech': Decimal('42')}, {'Biometrics': De...
Name: skills, dtype: object

In [16]:
def skill_to_list(skill_str):
    return list(map(lambda x : x[1:-1].split(': ')[0][1:-1],skill_str[1:-1].split(', ')))

In [33]:
candi = candi_sk.apply(lambda x : skill_to_list(x))
# print(candi.head())
skill_union = []
for cd in candi:
    skill_union = skill_union + [x for x in cd if x not in skill_union]

# common skills of skill_count
skill_count = {}
for skill in skill_union:
    skill_count[skill] = 0

for cd in candi:
    for skill in cd:
        skill_count[skill] += 1

common_skill = []
common_skill_threshold = 10
for skill in skill_count.keys():
    if skill_count[skill] > common_skill_threshold:
        common_skill.append(skill)
print("there are {} skills where #common > {} skills".format(len(common_skill), common_skill_threshold))
print("common skills are: {}".format(common_skill))

there are 395 skills where #common > 10 skills
common skills are: ['Strategy', 'Start-ups', 'Business Strategy', 'Management', 'Entrepreneurship', 'Business Development', 'Strategic Planning', 'Project Management', 'E-commerce', 'Business Planning', 'New Business Development', 'Management Consulting', 'Leadership', 'Training', 'Organizational Development', 'Negotiation', 'Marketing', 'Program Management', 'Operations Management', 'Marketing Strategy', 'Mobile Devices', 'Change Management', 'Strategic Partnerships', 'International Business', 'Social Media', 'Microsoft Office', 'Customer Service', 'Microsoft Excel', 'Facebook', 'Microsoft Word', 'Research', 'PowerPoint', 'Communication', 'Public Speaking', 'Sales', 'Logistics', 'Supply Chain Management', 'Logistics Management', 'Sales Management', 'Marketing Management', 'Team Leadership', 'FMCG', 'Team Building', 'Consumer Products', 'CRM', 'SaaS', 'Market Research', 'Enterprise Software', 'Product Management', 'Online Marketing', 'Social Media Marketing', 'Digital Marketing', 'International Sales', 'Mobile Applications', 'Lead Generation', 'B2B', 'Advertising', 'Product Marketing', 'Consulting', 'Integration', 'Mobile Marketing', 'Direct Sales', 'Analysis', 'Telecommunications', 'Sales Process', 'Key Account Management', 'Digital Strategy', 'Go-to-market Strategy', 'Market Analysis', 'JSON', 'HTML', 'PHP', 'OOP', 'Objective-C', 'HTML5', 'Flash', 'SQL', 'JavaScript', 'Java', 'Software Development', 'XML', 'Oracle', 'Java Enterprise Edition', 'Agile Methodologies', 'MySQL', 'Scrum', 'Microsoft SQL Server', 'Solution Architecture', 'Requirements Analysis', 'Outsourcing', 'Automotive', 'Sales Operations', 'Sourcing', 'Media Relations', 'Public Relations', 'Corporate Communications', 'Marketing Communications', 'Internal Communications', 'Event Management', 'Press Releases', 'Strategic Communications', 'Event Planning', 'Integrated Marketing', 'Media Planning', 'Social Networking', 'Brand Management', 'Digital Media', 'Product Development', 'Merchandising', 'Copywriting', 'Online Advertising', 'Business Analysis', 'Vendor Management', 'Databases', 'Web Development', 'CSS', 'iOS development', 'Photography', 'Creative Strategy', 'Testing', 'Analytical Skills', 'Cascading Style Sheets (CSS)', 'Web Design', 'HTML 5', 'iOS Development', 'Android', 'Linux', 'Embedded Systems', 'C', 'C++', 'Software Engineering', 'iOS', 'Python', 'SEO', 'SEM', 'Email Marketing', 'PPC', 'Web Marketing', 'Hospitality Industry', 'Google Analytics', 'Web Analytics', 'Hospitality', 'Search Engine Optimization (SEO)', 'Inventory Management', 'Finance', 'Accounting', 'Computer Hardware', 'Windows', 'Windows Server', 'CSS3', 'IT Strategy', 'IT Management', 'IT Service Management', 'IT Operations', 'Graphic Design', 'Video Production', 'English', 'Teamwork', 'Data Analysis', 'Photoshop', 'Teaching', 'Creative Writing', 'Time Management', 'Fashion', '.NET', 'Ruby on Rails', 'Software Project Management', 'ASP.NET', 'C#', 'Web Applications', 'jQuery', 'Git', 'Android Development', 'Manufacturing', 'Electronics', 'Lean Manufacturing', 'Automation', 'ISO', 'Continuous Improvement', 'Supply Chain', 'FMEA', 'Kaizen', '5S', 'Competitive Analysis', 'Analytics', 'Brand Development', 'Customer Insight', 'Direct Marketing', 'Apache', 'Dreamweaver', 'IIS', 'WordPress', 'User Interface Design', 'Programming', 'Google Adwords', 'CMS', 'AJAX', 'Visual Studio', 'Joomla', 'Web Services', 'MongoDB', 'AngularJS', 'Human Resources', 'Employee Relations', 'Performance Management', 'Talent Management', 'Talent Acquisition', 'Employee Engagement', 'Leadership Development', 'Succession Planning', 'Recruiting', 'Business Intelligence', 'HR Consulting', 'Project Planning', 'Onboarding', 'HRIS', 'SAP ERP', 'SAP R/3', 'SAP Implementation', 'SAP', 'ERP', 'Enterprise Resource Planning (ERP)', 'Budgets', 'Engineering', 'Six Sigma', 'PLC', 'Process Improvement', 'Engineering Management', 'Electrical Engineering', 'Executive Search', 'Technical Recruiting', 'Recruitment Advertising', 'Interviews', 'Contract Recruitment', 'Team Management', 'Screening', 'Networking', 'Customer Satisfaction', 'Account Management', 'Systems Analysis', 'Crystal Reports', 'Wireless', 'Channel Partners', 'Customer Relationship Management (CRM)', 'Visio', 'Business Process', 'Retail', 'Corporate Branding', 'Product Launch', 'Problem Solving', 'Coaching', 'Interviewing', 'Machine Learning', 'Investments', 'Financial Modeling', 'Statistics', 'Outlook', 'Marketing Research', 'Cisco Technologies', 'TCP/IP', 'Troubleshooting', 'Unix', 'Visual Basic', 'Ruby', 'Node.js', 'Business Process Improvement', 'Enterprise Architecture', 'Risk Management', 'Pre-sales', 'Project Delivery', 'Agile Project Management', 'Quality Management', 'Hotels', 'Hospitality Management', 'Resorts', 'Hotel Management', 'Food & Beverage', 'Tourism', 'Pre-opening', 'Financial Reporting', 'Internal Controls', 'Auditing', 'Real Estate', 'Procurement', 'Energy', 'Laravel', 'Bootstrap', 'Solution Selling', 'Banking', 'Content Management', 'Warehouse Management', 'Cross-functional Team Leadership', 'Financial Services', 'Portfolio Management', 'Mergers & Acquisitions', 'Forecasting', 'Pricing', 'Budgeting', 'Contract Negotiation', 'Yield Management', 'Revenue Analysis', 'Network Security', 'Data Center', 'Cloud Computing', 'ITIL', 'Affiliate Marketing', 'Employer Branding', 'Purchasing', 'New Media', 'User Experience', 'Creative Direction', 'Content Strategy', 'Corporate Finance', 'Content Marketing', 'Financial Analysis', 'Data Migration', 'Financial Accounting', 'Due Diligence', 'Data Warehousing', 'Security', 'Servers', 'System Administration', 'Editing', 'Qualitative Research', 'Project Coordination', 'Adobe Creative Suite', 'Presentations', 'HR Policies', 'Deferred Compensation', 'Professional Services', 'Process Engineering', 'Semiconductors', 'Adobe Photoshop', 'Blogging', 'SPSS', 'Graphics', 'Illustrator', 'Art Direction', 'Employee Training', 'Screening Resumes', 'SDLC', 'PL/SQL', 'Subversion', 'Salesforce.com', 'Business Requirements', 'Translation', 'Investment Banking', 'Transportation', 'Warehousing', 'Supply Chain Optimization', 'Quality Assurance', 'Market Planning', 'Scala', 'Hadoop', 'Production Planning', 'ASP.NET MVC', 'Design Patterns', 'Algorithms', 'PostgreSQL', 'Employee Benefits', 'Writing', 'Matlab', 'Database Design', 'Video Editing', 'Eclipse', 'Personnel Management', 'Temporary Placement', 'Drupal', 'Consumer Behaviour', 'RESTful WebServices', 'Television', 'JIRA', 'Trade Marketing', 'Restaurants', 'Hibernate', 'REST', 'JSP', 'Spring Framework', 'Tomcat', 'IP', 'Virtualization', 'French', 'Xcode', 'Website Development', 'GSM', '3G', 'Insurance', 'Customer Relations', 'UML', 'Technical Support', 'Valuation', 'Swift', 'MS Project', 'Contract Management', 'MVC']

In [22]:
jobs_raw.iloc[1]["description"]

'<p><strong>Responsible:</strong></p><ul><li>Prospect, pitch and close sales</li><li>Lead discovery sessions to identify the customer&rsquo;s key needs and pain points</li><li>Work with the prospect in a consultative fashion to develop a digital marketing strategy</li><li>Consistently deliver individual sales targets every month</li><li>Prepares reports by collecting, analyzing, and summarizing information</li><li>Develop a strong understanding of the client&rsquo;s business and make digital marketing plan</li><li>Maintains professional and technical knowledge by attending educational workshops; reviewing professional publications; establishing personal networks; benchmarking state-of-the-art practices; participating in professional societies</li><li>Continuously develop yourself and your team to stay on top of the latest industry innovations and trends</li><li>Lead and navigate the team</li><li>Engage in recruiting, training and retaining</li></ul><p><strong>Qualification:</strong></p><ul><li>Bachelor&rsquo;s Degree</li><li>Good command of English and Thai</li><li>Experience in Sales for 2+ years with outstanding result</li><li>Experience in Digital Marketing industry for 1+ year &nbsp;</li><li>Critical thinking and Logical Reasoning</li><li>Fun to communicate with</li><li>Result-oriented mind with passion for work</li><li>Detail-oriented, well organized with good sense of responsibility</li></ul>'

In [34]:
True if 'Digital Marketing' in common_skill else False

True

In [35]:
# to create label for each candidate, 1 if they have these skills 
job_require = ['Leadership',
               'Marketing',
               'Marketing Strategy',
               'Training',
               'Analysis',
               'Digital Marketing',
               'Business Planning',
               'Online Marketing',
               'Team Leadership']

In [39]:
@np.vectorize
def intersect_job_require(l):
    return len([x for x in job_require if x in l]) >= 3

In [40]:
candi.head()

0    [Strategy, Start-ups, Business Strategy, Manag...
1    [Management, Social Media, Microsoft Office, C...
2    [Sales, Logistics, Management, Operations Mana...
3    [Food, Marketing Strategy, Management, Sales M...
4    [FinTech, Biometrics, Tokenization, Blockchain...
Name: skills, dtype: object

In [52]:
label = intersect_job_require(candi)
print(label)
print(len(label))

[ True False False ..., False False False]
1203

In [54]:
len(candi[intersect_job_require(candi)])
print(candi[intersect_job_require(candi)].head())

0     [Strategy, Start-ups, Business Strategy, Manag...
4     [FinTech, Biometrics, Tokenization, Blockchain...
8     [Media Relations, Public Relations, Corporate ...
10    [Marketing Communications, Public Relations, S...
14    [Digital Marketing, E-commerce, SEO, Online Ma...
Name: skills, dtype: object

In [56]:
up = np.random.choice([0,1],len(candi),p=[0.9,0.1])
print(up[0:100])

[0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0]

In [57]:
down = np.random.choice([0,1],len(candi),p=[0.9,0.1])
print(down[0:100])

[0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 1 0 0 1 0 0 0 0
 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [58]:
label2 = label | (up==1)
label2

array([ True, False, False, ..., False, False,  True], dtype=bool)

In [60]:
label3 = label2 & (down==0)
label3

array([ True, False, False, ..., False, False,  True], dtype=bool)

In [61]:
label3
fm = pd.DataFrame(label3)

In [62]:
len(label[label==True])

266

In [63]:
len(label3[label3==True])

327

In [41]:
fm.to_csv("label.csv")