# Step1: Connect to AWS DynamoDB database - "test_candidates" table

- AWS has limited size of return responses so we won't get all candidates in one time table scanning
- if 'LastEvaluatedKey' presents in response, keep scaning table to get all candidates

In [1]:
import boto3
dynamodb = boto3.resource('dynamodb')
table = dynamodb.Table('test_candidates')
response = table.scan()
data = response['Items']
while 'LastEvaluatedKey' in response:
    response = table.scan(ExclusiveStartKey=response['LastEvaluatedKey'])
    data.extend(response['Items'])

In [2]:
import pandas as pd
data = pd.DataFrame(data)
# data = data[:len(data)//2]

# Step2: Data exploration

In [4]:
# pandas dataframe
# data.to_csv("test_candidate.csv")  # in case you want to export to csv
data

,address,alive_dead,avatar,avatar_url,birthday,bonus,consultant,country,current_salary,cv_link,...,stargazers_count,status,summary,target_company,target_position,time_spent_each_job,title,twitter,uuid,websites
0,NaN,NaN,/assets/pages/img/avatars/default.png,https://avatars2.githubusercontent.com/u/29790...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,test,NaN,NaN,NaN,NaN,1bd1109e-5256-331b-8acb-83a65fc35bb6,[]
1,nan,N/A,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",/assets/pages/img/avatars/default.png,09/29,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,29/09,N/A,N/A,NaN,Internal Audit Manager,nan,4d2fb049-7cce-3e32-8d32-94062b251811,[]
2,NaN,NaN,NaN,https://avatars3.githubusercontent.com/u/55049...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4dcd43d8-1195-38ef-84a8-b0eb8fcd8be8,"[{'Website 1': {'name': 'Website 1', 'website'..."
3,NaN,NaN,NaN,https://avatars3.githubusercontent.com/u/21639...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8dc2afd3-dfaa-3a76-951c-757b1c295c6e,"[{'Website 1': {'name': 'Website 1', 'website'..."
4,NaN,NaN,NaN,https://avatars3.githubusercontent.com/u/17294...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,223a2fcb-fd55-3ced-976c-fe7c34bd5e33,"[{'Website 1': {'name': 'Website 1', 'website'..."
5,111/48 Moo7 Suanyai Muang NonThaburi,N/A,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",NaN,nan,N/A,N/A,Nonthaburi,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,HR Overseas Support Manager at SCG Packaging ...,nan,af3c454a-d9a2-3b43-ae98-2050cf474185,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
6,NaN,NaN,NaN,https://avatars0.githubusercontent.com/u/70048...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38a8ebc7-aaa2-3e25-a22a-09b1402151d3,"[{'Website 1': {'name': 'Website 1', 'website'..."
7,NaN,NaN,NaN,https://avatars2.githubusercontent.com/u/22047...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139d3932-68e5-3ced-a589-c606884134ed,"[{'Website 1': {'name': 'Website 1', 'website'..."
8,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Recruitment Specialist,I have a skill of people management and most o...,e1a2daaf-a094-3933-9aa0-f30162531057,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
9,nan,N/A,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",NaN,nan,N/A,N/A,Bangkok,NaN,N/A,...,NaN,NaN,"TOEIC 655, Learning SPSS, Interest in Leadersh...",N/A,N/A,NaN,Student at Ramkhamhaeng University,nan,a5f2449c-b8c2-3ac5-9c4e-a752d76e9aad,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40048061-562e-3438-8c87-57e9267610f2,[]
11,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Bangkok,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Intermediate Software Engineer at Orion Health,nan,768feb21-7272-3eae-be7a-9dceb451cdfc,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
12,NaN,"[{'Alive/Dead 1': {'status': 'Dead', 'timestam...",NaN,NaN,NaN,"[{'Bonus 1': {'bonus': '4 months', 'timestamp'...","[{'Consultant 1': {'name': 'Bird', 'timestamp'...",Thailand,NaN,https://drive.google.com/a/jbhired.com/file/d/...,...,NaN,CLOSED,Strategic and analytical finance professional,"[{'Target Company 1': {'company': 'AdAsia', 't...",[{'Target Position 1': {'position': 'Finance M...,NaN,NaN,NaN,f84fa7e8-ecae-3f21-9d6c-5a692a21d2cc,NaN
13,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,11/09,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,09/11,N/A,N/A,NaN,Co-packer Buyer at RB (3rd manufacturing),"- Experienced in purchasing management , cost...",e2c386bf-a915-33aa-a275-e8ad345cb6a8,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
14,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Head of Analytics Development,- Fraud risk management. Fraud risk governance...,68bc7ae0-9d6f-3a86-a956-41b45c2125f4,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
15,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Pathum Thani,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Product Owner at Kaidee.com,nan,98809d0b-234d-3482-b9db-044f4f3ed82c,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
16,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Independent Consultant and Executive Coach,nan,03a58827-0c08-3e36-b60a-fd17d499dd6d,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
17,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Infrastructure Delivery Manager at Accenture,The major skills and experiences are IT techni...,d069cb85-4a43-30b8-b85e-38b41a18a7bd,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
18,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,10/07,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Senior System Engineer (presale) at Dell EMC,nan,17996d7b-90ee-3302-bd48-7158819fba29,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
19,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,IT Operations Executive,nan,f2789578-74ea-3197-bd27-41e31eb723f7,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
20,NaN,NaN,NaN,https://avatars1.githubusercontent.com/u/21814...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22482d38-cd95-3b51-a783-e626ac8f236e,"[{'Website 1': {'name': 'Website 1', 'website'..."
21,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Talent Acquisition Lead - Thailand at Accentur...,Professional Recruiting and Executive Search a...,6ac2aaae-43cf-3061-825d-9271ccc968e7,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
22,NaN,NaN,NaN,https://avatars0.githubusercontent.com/u/31312...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05d92130-be09-3c35-a210-e6384ec1d863,"[{'Website 1': {'name': 'Website 1', 'website'..."
23,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,--,nan,38d2e44b-9409-36a1-adc6-a68d7074fb61,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
24,nan,N/A,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",NaN,nan,N/A,N/A,Bangkok,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,"Digital Marketing Specialist at Softbaked Co.,Ltd",nan,1c5fcae6-161d-3549-963a-5c9908f1e2f6,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
25,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,--,nan,a96191e8-8225-397a-8b19-01176b199cf2,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
26,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Regional Sales Director (Thailand) at Pegasystems,An accomplished and results-driven sales execu...,ee386eda-8f0a-3946-b0f4-8c18a384ee0b,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
27,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Ph.D Student (Business Analytics),A mixture of brand management and numerical an...,98dcb9d6-b5c5-3b1c-9cec-32e6ad049f29,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
28,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Bangkok,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Educator,Experienced English Second Language Tutor with...,667d01bc-9653-3e4b-b9ac-670947d40d15,"[{'Website 1': 'nan'}, {'Website 2': 'http://m..."
29,NaN,NaN,NaN,https://avatars1.githubusercontent.com/u/90527...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8cb490d9-d386-341e-bc74-b858eb751139,"[{'Website 1': {'name': 'Website 1', 'website'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2835,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,"Virus1 Co.,Ltd. : Digital AgencyHead of Digita...",N/A,N/A,NaN,Head of Digital/Creative at Virus1 : Digital A...,nan,7551dbb1-1e7c-3f61-b277-ebd00b50b1e3,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
2836,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Senior Associate at PwC,nan,d8346741-f900-368d-8b1a-4981077d6f37,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
2837,NaN,NaN,NaN,https://avatars3.githubusercontent.com/u/58009...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,aa363c5c-915b-35d5-870b-51e489b62909,"[{'Website 1': {'name': 'Website 1', 'website'..."
2838,nan,N/A,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",NaN,nan,N/A,N/A,NaN,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Architecture & Planning Professional,nan,543f9f5a-9554-36cb-af09-45205ee658db,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
2839,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Senior System Engineer at Thomson Reuters,nan,9f3946b7-85a4-33e0-823f-b726dd381f9e,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
2840,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,04/07,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,07/04,N/A,N/A,NaN,True Arena Hua Hin Event Coordinator at Proud ...,nan,82539d08-a00d-3fab-b5cc-7eeb947b14f2,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
2841,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Head of E-Commerce Operations at aCommerce,nan,f1f65ea4-2473-36cf-8977-ddc60d7bc390,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
2842,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Head of Talent Acquisition at Minor Food Group,nan,7287e204-6ac1-3c64-9ded-6193d872ed86,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
2843,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,NaN,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Marketing Content Specialist,nan,ff204c10-240e-3f05-af31-6dffd5544f95,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
2844,"888/39, Sittharom village, Sukhumvit 105, Bang...",N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Consultant at Deloitte Thailand,Pichitra is a Consultant in the Audit Advisory...,77a08ec3-d7e2-3323-b4d7-6bf813e9771c,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
2845,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,NaN,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Assistant Manager - PET Finance at Indorama Ve...,> Review MIS Reports of Each unit of PET Divis...,47998dce-d9ad-3fa5-842f-c692b68f95e3,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
2846,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,07/01,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,01/07,N/A,N/A,NaN,"AWS solutions architect, consulting, full st...",I’m an all-round IT professional with 9 years ...,6742aab1-4b1e-3e0f-8df3-501a24533fb6,"[{'Website 1': 'nan'}, {'Website 2': 'http://t..."
2847,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Public Relations Specialist at Bangkok Bank PLC,nan,89a2310a-629b-3e53-82c3-d614b7485cdc,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
2848,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,NaN,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Head of Quality Control at ZALORA Group,nan,0cdc379c-80c5-3427-a4f8-942b393c0be8,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
2849,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Bangkok,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Accounting Services Professional,nan,df94dbd7-f017-3f36-8347-611a56929aec,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
2850,NaN,NaN,NaN,https://avatars0.githubusercontent.com/u/41525...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9f1902a0-ee67-3366-a54e-4da4a49c0645,"[{'Website 1': {'name': 'Website 1', 'website'..."
2851,NaN,NaN,NaN,https://avatars3.githubusercontent.com/u/39664...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b0e902ef-33ea-31a0-a8bb-72832996d962,"[{'Email 1': {'name': 'Email 1', 'email': 'Non..."
2852,NaN,NaN,NaN,https://avatars0.githubusercontent.com/u/53215...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38327d38-3497-336a-82b6-09acd2e41178,"[{'Website 1': {'name': 'Website 1', 'website'..."
2853,NaN,NaN,NaN,https://avatars3.githubusercontent.com/u/33568...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1f97eea9-76c2-34d2-bf87-b40f985835ec,"[{'Website 1': {'name': 'Website 1', 'website'..."
2854,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Manager - Corporate Finance at PwC,CPA Thailand and MBA graduate from UK with suc...,73b5aa96-2610-3655-860f-96214f5146e5,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
2855,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,I think out of the box to create unique soluti...,N/A,N/A,NaN,PR and Marketing executive,nan,8049e14b-20de-300b-a364-66534273ad2c,[{'Website 1': 'http://facebook.com/vivyview'}...
2856,jeedy_b@hotmail.com,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Human Resources Manager at GMM Grammy PLC,nan,3dfb0915-a83c-3510-9a47-83a71a2cf357,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
2857,Julius Valentiners Vej 41 DK 2000 Frederiksber...,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,03/11,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,Rotary member and fan of networking.Holds a s...,N/A,N/A,NaN,"Direktør, BARON & COMPANY reklamebureau",nan,1de727f6-fa62-3892-9730-fb3c06a86022,"[{'Website 1': 'http://baron-company.dk/'}, {'..."
2858,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,07/05,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,05/07,N/A,N/A,NaN,My aspiration in life would be to be happy,🔹I have earned 4.5 International English Langu...,aff01097-029e-3333-8222-cb9dcde5a2e9,"[{'Website 1': 'nan'}, {'Website 2': 'http://M..."
2859,NaN,NaN,NaN,https://avatars0.githubusercontent.com/u/71969...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,eda76b28-b2d4-3167-a46a-04a3ccec5ddc,"[{'Email 1': {'name': 'Email 1', 'email': 'jon..."
2860,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Thailand,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,PR Executive & Visual Merchandiser at Gems Pav...,Jewelry Contributor,435c30f0-eb78-3935-a732-9adfc6a943c9,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
2861,NaN,NaN,NaN,https://avatars3.githubusercontent.com/u/10252...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4bcb02e7-16de-321c-a418-c5bb834afd3c,"[{'Website 1': {'name': 'Website 1', 'website'..."
2862,NaN,NaN,NaN,https://avatars1.githubusercontent.com/u/19242...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,c7bdd3e8-69bc-36f7-ac06-a0ce2f9e3083,"[{'Website 1': {'name': 'Website 1', 'website'..."
2863,nan,N/A,https://media.licdn.com/mpr/mpr/shrinknp_400_4...,NaN,nan,N/A,N/A,Bangkok,NaN,N/A,...,NaN,NaN,nan,N/A,N/A,NaN,Associate Creative Director at J. Walter Thompson,nan,943ed551-d7f3-35cb-aabf-778f2dc47194,"[{'Website 1': 'nan'}, {'Website 2': 'nan'}, {..."
2864,NaN,NaN,NaN,https://avatars3.githubusercontent.com/u/16731...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b5383123-c1f9-36a6-a2e9-7b541f6829ac,"[{'Website 1': {'name': 'Website 1', 'website'..."

In [7]:
# all data columns
print(data.columns)
print("there are {} columns in this dataframe".format(len(data.columns)))

Index(['address', 'alive_dead', 'avatar', 'avatar_url', 'birthday', 'bonus',
       'consultant', 'country', 'current_salary', 'cv_link', 'devpost_url',
       'educations', 'email', 'followers', 'followings', 'full_name',
       'github_created_at', 'github_followers', 'github_followings',
       'github_public_gists', 'github_public_repos', 'github_updated_at',
       'github_url', 'hirable', 'jbscore', 'jobs', 'kaggle_url', 'last_update',
       'linkedin_url', 'location', 'messengers', 'neighborhood',
       'organizations', 'ownership', 'phones', 'profile_url', 'public_gists',
       'public_repos', 'reason_for_leaving', 'repos_fork', 'repos_forks_count',
       'repos_languages', 'salary', 'skills', 'stargazers_count', 'status',
       'summary', 'target_company', 'target_position', 'time_spent_each_job',
       'title', 'twitter', 'uuid', 'websites'],
      dtype='object')
there are 54 columns in this dataframe

# Step3: Feature selection, create a clone of original data

In [11]:
test_data = data.copy()

In [27]:
test_data = data.copy()
# TODO later we should incorporate these features to get insightful/hidden information
# 3.1 remove unnessesary columns 
del test_data["websites"]
del test_data["twitter"]
del test_data["alive_dead"]
del test_data["address"]
del test_data["avatar"]
del test_data["avatar_url"]
del test_data["birthday"]
del test_data["cv_link"]
del test_data["devpost_url"]
del test_data["email"]
del test_data["full_name"]
del test_data["kaggle_url"]
del test_data["github_created_at"]
del test_data["last_update"]
del test_data["profile_url"]
del test_data["phones"]
del test_data["linkedin_url"]
del test_data["messengers"]
del test_data["neighborhood"]
del test_data["current_salary"]
del test_data["time_spent_each_job"]
del test_data["status"]
del test_data["stargazers_count"]
del test_data["repos_languages"]
del test_data["repos_fork"]
del test_data["consultant"]
del test_data["bonus"]
del test_data["followers"]
del test_data["followings"]
del test_data["github_url"]
del test_data["jbscore"]
del test_data["public_repos"]
del test_data["repos_forks_count"]
del test_data["uuid"]
del test_data["github_updated_at"]
del test_data["country"]
del test_data["hirable"]
del test_data["public_gists"]
del test_data["ownership"]
del test_data["target_company"]
del test_data["target_position"]
del test_data["reason_for_leaving"]

# 3.2 check if skills column has null value
item = test_data["skills"].isnull()
drop_list = []
for i in range(len(item)):
    # 3.2.1 candidates with null skills value
    if item[i] == True:
        drop_list.append(i)
        
test_data = test_data.drop(test_data.index[drop_list])
print("there are {} candidates with null \"skill\"".format(len(test_data)))
test_data.head()

there are 1892 candidates with null "skill"

,educations,github_followers,github_followings,github_public_gists,github_public_repos,jobs,location,organizations,salary,skills,summary,title
0,[],NaN,NaN,NaN,NaN,NaN,Bangkok,[],NaN,[],NaN,NaN
1,[],NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[],NaN,[],29/09,Internal Audit Manager
5,[{'Education 1': {'Education Start 1': '1999.0...,NaN,NaN,NaN,NaN,NaN,"Mueang Nonthaburi, Nonthaburi, Thailand",[{'Organization 1': {'Organization End 1': 'PR...,N/A,[],nan,HR Overseas Support Manager at SCG Packaging ...
8,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'No...,N/A,[],nan,Recruitment Specialist
9,[{'Education 1': {'Education Start 1': '2012.0...,NaN,NaN,NaN,NaN,NaN,"Bangkok Noi, Bangkok, Thailand",[{'Organization 1': {'Organization End 1': 'PR...,N/A,[],"TOEIC 655, Learning SPSS, Interest in Leadersh...",Student at Ramkhamhaeng University

In [28]:
# test_data.head()
test_data = test_data.reset_index(drop=True)
test_data

,educations,github_followers,github_followings,github_public_gists,github_public_repos,jobs,location,organizations,salary,skills,summary,title
0,[],NaN,NaN,NaN,NaN,NaN,Bangkok,[],NaN,[],NaN,NaN
1,[],NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[],NaN,[],29/09,Internal Audit Manager
2,[{'Education 1': {'Education Start 1': '1999.0...,NaN,NaN,NaN,NaN,NaN,"Mueang Nonthaburi, Nonthaburi, Thailand",[{'Organization 1': {'Organization End 1': 'PR...,N/A,[],nan,HR Overseas Support Manager at SCG Packaging ...
3,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'No...,N/A,[],nan,Recruitment Specialist
4,[{'Education 1': {'Education Start 1': '2012.0...,NaN,NaN,NaN,NaN,NaN,"Bangkok Noi, Bangkok, Thailand",[{'Organization 1': {'Organization End 1': 'PR...,N/A,[],"TOEIC 655, Learning SPSS, Interest in Leadersh...",Student at Ramkhamhaeng University
5,[],NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,[],NaN,NaN
6,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Phaya Thai, Bangkok, Thailand",[{'Organization 1': {'Organization End 1': 'na...,N/A,[],nan,Intermediate Software Engineer at Orion Health
7,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ap...,N/A,"[{'Strategy': 98}, {'Start-ups': 93}, {'Busine...",09/11,Co-packer Buyer at RB (3rd manufacturing)
8,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ma...,N/A,"[{'Management': 14}, {'Social Media': 14}, {'M...",nan,Head of Analytics Development
9,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Lam Luk Ka, Pathum Thani, Thailand",[{'Organization 1': {'Organization End 1': 'PR...,N/A,[],nan,Product Owner at Kaidee.com
10,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Oc...,N/A,"[{'Sales': 4}, {'Logistics': 4}, {'Management'...",nan,Independent Consultant and Executive Coach
11,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,N/A,"[{'Food': 10}, {'Marketing Strategy': 9}, {'Ma...",nan,Infrastructure Delivery Manager at Accenture
12,[{'Education 1': {'Education Start 1': '2000.0...,NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'PR...,N/A,[],nan,Senior System Engineer (presale) at Dell EMC
13,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,N/A,"[{'FinTech': 42}, {'Biometrics': 41}, {'Tokeni...",nan,IT Operations Executive
14,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,N/A,"[{'JSON': 4}, {'HTML': 4}, {'PHP': 3}, {'OOP':...",nan,Talent Acquisition Lead - Thailand at Accentur...
15,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Phuket, Thailand",[{'Organization 1': {'Organization End 1': 'na...,N/A,[],nan,--
16,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bang Na, Bangkok, Thailand",[{'Organization 1': {'Organization End 1': 'na...,N/A,[],nan,"Digital Marketing Specialist at Softbaked Co.,Ltd"
17,[{'Education 1': {'Education Start 1': '2008.0...,NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'PR...,N/A,[],nan,--
18,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ma...,N/A,"[{'Project Management': 9}, {'SQL': 8}, {'Java...",nan,Regional Sales Director (Thailand) at Pegasystems
19,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ma...,N/A,"[{'Management': 25}, {'Sales Management': 22},...",nan,Ph.D Student (Business Analytics)
20,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Phra Khanong, Bangkok, Thailand",[{'Organization 1': {'Organization End 1': 'Ap...,N/A,"[{'Media Relations': 20}, {'Public Relations':...",nan,Educator
21,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,N/A,"[{'Luxury Goods': 8}, {'Management': 3}, {'Sal...",nan,Vice President Finance at agoda.com
22,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,N/A,"[{'Marketing Communications': 11}, {'Public Re...",nan,HR Business Partner at Colgate-Palmolive (Thai...
23,[],NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,[],NaN,NaN
24,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,N/A,"[{'Project Management': 4}, {'Business Analysi...",nan,Senior Executive at Accenture
25,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Au...,N/A,"[{'Java': 47}, {'SQL': 29}, {'Web Development'...",24/12,IT Specialist at Thailand Professional Qualifi...
26,[{'Education 1': {'Education Start 1': '2007.0...,NaN,NaN,NaN,NaN,NaN,"Yannawa, Bangkok, Thailand",[{'Organization 1': {'Organization End 1': 'na...,N/A,[],nan,Business Unit Controller at Nestlé
27,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,[],"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,N/A,"[{'Linux': 28}, {'Android': 25}, {'Embedded Sy...",nan,Full-stack Web Developer at Allproperty Media ...
28,[{'Education 1': {'Education Start 1': '2003.0...,NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'PR...,N/A,[],"Over 10 years experience in Product, Brand and...",Senior Brand Manager at ACUVUE
29,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Phra Nakhon, Bangkok, Thailand",[{'Organization 1': {'Organization End 1': 'PR...,N/A,[],nan,Exhibition Sales Manager at Dot Property
...,...,...,...,...,...,...,...,...,...,...,...,...
1862,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ma...,N/A,"[{'Business Strategy': 4}, {'Management': 4}, ...",nan,Business Analyst
1863,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Se...,N/A,"[{'Human Resources': 16}, {'Change Management'...",nan,☁ CTO | O&M | Solar | Security | AI | IoT
1864,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,N/A,"[{'Flight Planning': 29}, {'Charter': 24}, {'C...",12/09,Outsource Developer at Stone Apple (A Hitachi ...
1865,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,N/A,"[{'Economics': 13}, {'Business Development': 8...",21/09,Experienced Software Engineer
1866,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Oc...,N/A,"[{'Marketing Strategy': 15}, {'Graphic Design'...",nan,Assistant Brand Manager at Star Fashion
1867,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Wangthong Lang, Bangkok, Thailand",[{'Organization 1': {'Organization End 1': 'De...,N/A,"[{'SAP ERP': 1}, {'Integration': 1}, {'ERP': 1...",27/09,Senior Developer
1868,[{'Education 1': {'Education Start 1': '2009.0...,NaN,NaN,NaN,NaN,NaN,Russian Federation,[{'Organization 1': {'Organization End 1': 'PR...,NaN,"[{'Java': 7}, {'JavaScript': 6}, {'XML': 4}, {...",Automate all the things!,.NET/web 🕸 developer
1869,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'PR...,N/A,[],nan,Account Manager at interTouch (Thailand) Ltd.
1870,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,N/A,"[{'Venture Capital': 9}, {'Business Strategy':...",nan,Deputy Director at Vatel International Busines...
1871,[{'Education 1': {'Education Start 1': '1998.0...,NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'PR...,N/A,[],"Virus1 Co.,Ltd. : Digital AgencyHead of Digita...",Head of Digital/Creative at Virus1 : Digital A...
1872,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Oc...,N/A,"[{'Interviews': 6}, {'Recruiting': 6}, {'Human...",nan,Senior Associate at PwC
1873,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,Thailand,[{'Organization 1': {'Organization End 1': '20...,N/A,[],nan,Architecture & Planning Professional
1874,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Oc...,N/A,"[{'Public Relations': 3}, {'Marketing': 3}, {'...",nan,Senior System Engineer at Thomson Reuters
1875,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Prachuap Khiri Khan, Thailand",[{'Organization 1': {'Organization End 1': 'De...,N/A,"[{'Internal Communications': 13}, {'Press Rele...",07/04,True Arena Hua Hin Event Coordinator at Proud ...
1876,[{'Education 1': {'Education Start 1': '2001.0...,NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'PR...,N/A,[],nan,Head of E-Commerce Operations at aCommerce
1877,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Se...,N/A,"[{'Market Research': 22}, {'Marketing Strategy...",nan,Head of Talent Acquisition at Minor Food Group
1878,[{'Education 1': {'Education Start 1': '2008.0...,NaN,NaN,NaN,NaN,NaN,Thailand,[{'Organization 1': {'Organization End 1': 'PR...,N/A,[],nan,Marketing Content Specialist
1879,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,N/A,"[{'Supply Chain Management': 26}, {'Logistics'...",nan,Consultant at Deloitte Thailand
1880,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,Thailand,[{'Organization 1': {'Organization End 1': 'Ma...,N/A,"[{'Team Management': 4}, {'Software Developmen...",nan,Assistant Manager - PET Finance at Indorama Ve...
1881,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,N/A,"[{'Training': 43}, {'Hotels': 39}, {'Hospitali...",01/07,"AWS solutions architect, consulting, full st..."
1882,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Se...,N/A,"[{'Management': 1}, {'Business Strategy': 1}, ...",nan,Public Relations Specialist at Bangkok Bank PLC
1883,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,Thailand,[{'Organization 1': {'Organization End 1': 'PR...,N/A,[],nan,Head of Quality Control at ZALORA Group
1884,[{'Education 1': {'Education Start 1': '2007.0...,NaN,NaN,NaN,NaN,NaN,"Yannawa, Bangkok, Thailand",[{'Organization 1': {'Organization End 1': 'PR...,N/A,[],nan,Accounting Services Professional
1885,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ma...,N/A,"[{'Management': 1}, {'CRM': 1}, {'Business Dev...",nan,Manager - Corporate Finance at PwC
1886,[{'Education 1': {'Education Start 1': '2015.0...,NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'PR...,N/A,[],I think out of the box to create unique soluti...,PR and Marketing executive
1887,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,N/A,"[{'Corporate Law': 9}, {'Legal Advice': 9}, {'...",nan,Human Resources Manager at GMM Grammy PLC
1888,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'na...,N/A,[],Rotary member and fan of networking.Holds a s...,"Direktør, BARON & COMPANY reklamebureau"
1889,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ma...,N/A,"[{'Recruiting': 99}, {'Executive Search': 99},...",05/07,My aspiration in life would be to be happy
1890,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Fe...,N/A,[{'Banking': 1}],nan,PR Executive & Visual Merchandiser at Gems Pav...
1891,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Wattana, Bangkok, Thailand",[{'Organization 1': {'Organization End 1': 'PR...,N/A,[],nan,Associate Creative Director at J. Walter Thompson

In [34]:
# 3.3 drop columns where there is no skills
drop_list = []
for i in range(len(test_data["skills"])):
    if len(test_data.loc[i]["skills"]) == 0:
        drop_list.append(i)
test_data = test_data.drop(test_data.index[drop_list])
test_data = test_data.reset_index(drop=True)
print("there are {} candidates with not null skills".format(len(test_data)))
test_data

there are 1203 candidates with not null skills

,educations,github_followers,github_followings,github_public_gists,github_public_repos,jobs,location,organizations,salary,skills,summary,title
0,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ap...,N/A,"[{'Strategy': 98}, {'Start-ups': 93}, {'Busine...",09/11,Co-packer Buyer at RB (3rd manufacturing)
1,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ma...,N/A,"[{'Management': 14}, {'Social Media': 14}, {'M...",nan,Head of Analytics Development
2,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Oc...,N/A,"[{'Sales': 4}, {'Logistics': 4}, {'Management'...",nan,Independent Consultant and Executive Coach
3,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,N/A,"[{'Food': 10}, {'Marketing Strategy': 9}, {'Ma...",nan,Infrastructure Delivery Manager at Accenture
4,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,N/A,"[{'FinTech': 42}, {'Biometrics': 41}, {'Tokeni...",nan,IT Operations Executive
5,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,N/A,"[{'JSON': 4}, {'HTML': 4}, {'PHP': 3}, {'OOP':...",nan,Talent Acquisition Lead - Thailand at Accentur...
6,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ma...,N/A,"[{'Project Management': 9}, {'SQL': 8}, {'Java...",nan,Regional Sales Director (Thailand) at Pegasystems
7,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ma...,N/A,"[{'Management': 25}, {'Sales Management': 22},...",nan,Ph.D Student (Business Analytics)
8,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Phra Khanong, Bangkok, Thailand",[{'Organization 1': {'Organization End 1': 'Ap...,N/A,"[{'Media Relations': 20}, {'Public Relations':...",nan,Educator
9,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,N/A,"[{'Luxury Goods': 8}, {'Management': 3}, {'Sal...",nan,Vice President Finance at agoda.com
10,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,N/A,"[{'Marketing Communications': 11}, {'Public Re...",nan,HR Business Partner at Colgate-Palmolive (Thai...
11,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,N/A,"[{'Project Management': 4}, {'Business Analysi...",nan,Senior Executive at Accenture
12,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Au...,N/A,"[{'Java': 47}, {'SQL': 29}, {'Web Development'...",24/12,IT Specialist at Thailand Professional Qualifi...
13,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,[],"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,N/A,"[{'Linux': 28}, {'Android': 25}, {'Embedded Sy...",nan,Full-stack Web Developer at Allproperty Media ...
14,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,Thailand,[{'Organization 1': {'Organization End 1': '20...,N/A,"[{'Digital Marketing': 24}, {'E-commerce': 28}...",nan,Management Consultant and Business Analyst
15,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Fe...,N/A,"[{'Analysis': 5}, {'Management': 4}, {'Logisti...",nan,Senior marketing communications manager at SE...
16,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,N/A,"[{'Leisure Travel': 1}, {'Social Media': 1}, {...",nan,"Project Communication Specialist, IBM Solution..."
17,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'No...,N/A,"[{'Computer Hardware': 0}, {'Windows': 0}, {'W...",nan,Valuation and Business Modeling Consultant at ...
18,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,Thailand,[{'Organization 1': {'Organization End 1': 'Ju...,N/A,"[{'Research': 8}, {'English': 6}, {'Microsoft ...",20/07,Professional Recruitment for Japanese Speaking...
19,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Fe...,N/A,"[{'Public Speaking': 1}, {'Art': 0}, {'Paintin...",02/06,Senior Full Stack Developer at ZEN Rooms (Rock...
20,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Phaya Thai, Bangkok, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,N/A,"[{'.NET': 13}, {'Ruby on Rails': 11}, {'Softwa...",nan,iOS Developer
21,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Se...,N/A,"[{'Microbiology': 15}, {'Medical Devices': 14}...",11/11,Corporate Services in Hong Kong - Thailand
22,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'No...,N/A,"[{'Project Management': 0}, {'Business Analysi...",nan,Software engineer at Tarad Dot Com
23,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,Thailand,[{'Organization 1': {'Organization End 1': 'Ma...,N/A,"[{'Manufacturing': 0}, {'Electronics': 0}, {'L...",nan,Business Analyst @ Allianz Managed Operations ...
24,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,N/A,"[{'Marketing': 8}, {'Marketing Strategy': 13},...",nan,Senior Audit Associate at PwC Thailand
25,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,N/A,"[{'Marketing Strategy': 7}, {'Digital Marketin...",nan,"Java,JavaScript and Python Developer at AIS - ..."
26,[{'Education 1': {'Education Start 1': '1999.0...,NaN,NaN,NaN,NaN,NaN,Thailand,[{'Organization 1': {'Organization End 1': 'PR...,N/A,"[{'Apache': 34}, {'MySQL': 32}, {'PHP': 29}, {...",I am Patarapapha Kawinruthaipreeda (Nan)My bus...,"yes at CRASSNA Intertreading co.,ltd."
27,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Au...,N/A,"[{'Java': 1}, {'JavaScript': 0}, {'Python': 0}...",nan,Strategy and Policy Maker at Thai Health Promo...
28,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Se...,N/A,"[{'Human Resources': 4}, {'Healthcare': 4}, {'...",29/06,Software Engineer at Forth Corporation Public ...
29,[{'Education 1': {'Education Start 1': '2008.0...,NaN,NaN,NaN,NaN,NaN,Thailand,[{'Organization 1': {'Organization End 1': 'Ma...,N/A,"[{'Marketing': 21}, {'Business Development': 1...",Знаю как делать продукты на Ruby и Python. Нра...,Fullstack developer – Aviasales / Jetradar
...,...,...,...,...,...,...,...,...,...,...,...,...
1173,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Suang Luang, Bangkok, Thailand",[{'Organization 1': {'Organization End 1': 'Au...,N/A,"[{'MEL': 13}, {'Maya': 12}, {'Rigging': 7}, {'...",nan,Software Engineer at Agoda
1174,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Oc...,N/A,"[{'Problem Solving': 2}, {'Operating Systems':...",14/09,Consultant at Roland Berger
1175,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,N/A,"[{'Customer Service': 3}, {'Teamwork': 3}, {'N...",14/07,Manager Online Media Editor at Siam Commercial...
1176,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ap...,N/A,"[{'Performance Management': 9}, {'Change Manag...",28/04,Senior Business Intelligence Developer
1177,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Oc...,N/A,"[{'Sales': 6}, {'Selling': 4}, {'Management': ...",04/11,Crew controller at AirAsia Berhad
1178,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,N/A,"[{'GSM': 28}, {'3G': 26}, {'2G': 17}, {'Teleco...",nan,Marketing & PR Manager at OPPO Thailand
1179,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Oc...,N/A,"[{'English': 4}, {'Digital Marketing': 2}, {'C...",nan,Digital Marketing Director at Cigna Thailand
1180,[{'Education 1': {'Education Start 1': '2008.0...,NaN,NaN,NaN,NaN,NaN,"Samara Region, Russian Federation",[{'Organization 1': {'Organization End 1': 'PR...,N/A,"[{'PHP': 37}, {'JavaScript': 19}, {'AngularJS'...",nan,Программист – Haulmont [Работу не ищу - хваста...
1181,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Au...,N/A,"[{'business development': 1}, {'Key Account Ma...",nan,Media planner at CJ WORX
1182,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Se...,N/A,"[{'Data Center': 13}, {'Project Management': 1...",24/08,Head of Business Strategy Department at King P...
1183,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ma...,N/A,"[{'Business Strategy': 4}, {'Management': 4}, ...",nan,Business Analyst
1184,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Se...,N/A,"[{'Human Resources': 16}, {'Change Management'...",nan,☁ CTO | O&M | Solar | Security | AI | IoT
1185,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,N/A,"[{'Flight Planning': 29}, {'Charter': 24}, {'C...",12/09,Outsource Developer at Stone Apple (A Hitachi ...
1186,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,N/A,"[{'Economics': 13}, {'Business Development': 8...",21/09,Experienced Software Engineer
1187,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Oc...,N/A,"[{'Marketing Strategy': 15}, {'Graphic Design'...",nan,Assistant Brand Manager at Star Fashion
1188,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Wangthong Lang, Bangkok, Thailand",[{'Organization 1': {'Organization End 1': 'De...,N/A,"[{'SAP ERP': 1}, {'Integration': 1}, {'ERP': 1...",27/09,Senior Developer
1189,[{'Education 1': {'Education Start 1': '2009.0...,NaN,NaN,NaN,NaN,NaN,Russian Federation,[{'Organization 1': {'Organization End 1': 'PR...,NaN,"[{'Java': 7}, {'JavaScript': 6}, {'XML': 4}, {...",Automate all the things!,.NET/web 🕸 developer
1190,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,N/A,"[{'Venture Capital': 9}, {'Business Strategy':...",nan,Deputy Director at Vatel International Busines...
1191,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Oc...,N/A,"[{'Interviews': 6}, {'Recruiting': 6}, {'Human...",nan,Senior Associate at PwC
1192,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Oc...,N/A,"[{'Public Relations': 3}, {'Marketing': 3}, {'...",nan,Senior System Engineer at Thomson Reuters
1193,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Prachuap Khiri Khan, Thailand",[{'Organization 1': {'Organization End 1': 'De...,N/A,"[{'Internal Communications': 13}, {'Press Rele...",07/04,True Arena Hua Hin Event Coordinator at Proud ...
1194,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Se...,N/A,"[{'Market Research': 22}, {'Marketing Strategy...",nan,Head of Talent Acquisition at Minor Food Group
1195,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,N/A,"[{'Supply Chain Management': 26}, {'Logistics'...",nan,Consultant at Deloitte Thailand
1196,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,Thailand,[{'Organization 1': {'Organization End 1': 'Ma...,N/A,"[{'Team Management': 4}, {'Software Developmen...",nan,Assistant Manager - PET Finance at Indorama Ve...
1197,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,N/A,"[{'Training': 43}, {'Hotels': 39}, {'Hospitali...",01/07,"AWS solutions architect, consulting, full st..."
1198,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Se...,N/A,"[{'Management': 1}, {'Business Strategy': 1}, ...",nan,Public Relations Specialist at Bangkok Bank PLC
1199,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ma...,N/A,"[{'Management': 1}, {'CRM': 1}, {'Business Dev...",nan,Manager - Corporate Finance at PwC
1200,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,N/A,"[{'Corporate Law': 9}, {'Legal Advice': 9}, {'...",nan,Human Resources Manager at GMM Grammy PLC
1201,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ma...,N/A,"[{'Recruiting': 99}, {'Executive Search': 99},...",05/07,My aspiration in life would be to be happy
1202,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,NaN,NaN,NaN,NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Fe...,N/A,[{'Banking': 1}],nan,PR Executive & Visual Merchandiser at Gems Pav...

In [35]:
# TODO fill in data for candidates to include github, 
# 3.4 drop columns where values are null
drop_data = test_data.copy()
del drop_data["github_followers"]
del drop_data["github_followings"]
del drop_data["github_public_gists"]
del drop_data["github_public_repos"]
del drop_data["salary"]
del drop_data["summary"]

In [36]:
drop_data

,educations,jobs,location,organizations,skills,title
0,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ap...,"[{'Strategy': 98}, {'Start-ups': 93}, {'Busine...",Co-packer Buyer at RB (3rd manufacturing)
1,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ma...,"[{'Management': 14}, {'Social Media': 14}, {'M...",Head of Analytics Development
2,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Oc...,"[{'Sales': 4}, {'Logistics': 4}, {'Management'...",Independent Consultant and Executive Coach
3,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,"[{'Food': 10}, {'Marketing Strategy': 9}, {'Ma...",Infrastructure Delivery Manager at Accenture
4,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,"[{'FinTech': 42}, {'Biometrics': 41}, {'Tokeni...",IT Operations Executive
5,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,"[{'JSON': 4}, {'HTML': 4}, {'PHP': 3}, {'OOP':...",Talent Acquisition Lead - Thailand at Accentur...
6,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ma...,"[{'Project Management': 9}, {'SQL': 8}, {'Java...",Regional Sales Director (Thailand) at Pegasystems
7,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ma...,"[{'Management': 25}, {'Sales Management': 22},...",Ph.D Student (Business Analytics)
8,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Phra Khanong, Bangkok, Thailand",[{'Organization 1': {'Organization End 1': 'Ap...,"[{'Media Relations': 20}, {'Public Relations':...",Educator
9,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,"[{'Luxury Goods': 8}, {'Management': 3}, {'Sal...",Vice President Finance at agoda.com
10,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,"[{'Marketing Communications': 11}, {'Public Re...",HR Business Partner at Colgate-Palmolive (Thai...
11,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,"[{'Project Management': 4}, {'Business Analysi...",Senior Executive at Accenture
12,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Au...,"[{'Java': 47}, {'SQL': 29}, {'Web Development'...",IT Specialist at Thailand Professional Qualifi...
13,"[{'Education 1': {'Education Start 1': 'nan', ...",[],"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,"[{'Linux': 28}, {'Android': 25}, {'Embedded Sy...",Full-stack Web Developer at Allproperty Media ...
14,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,Thailand,[{'Organization 1': {'Organization End 1': '20...,"[{'Digital Marketing': 24}, {'E-commerce': 28}...",Management Consultant and Business Analyst
15,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Fe...,"[{'Analysis': 5}, {'Management': 4}, {'Logisti...",Senior marketing communications manager at SE...
16,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,"[{'Leisure Travel': 1}, {'Social Media': 1}, {...","Project Communication Specialist, IBM Solution..."
17,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'No...,"[{'Computer Hardware': 0}, {'Windows': 0}, {'W...",Valuation and Business Modeling Consultant at ...
18,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,Thailand,[{'Organization 1': {'Organization End 1': 'Ju...,"[{'Research': 8}, {'English': 6}, {'Microsoft ...",Professional Recruitment for Japanese Speaking...
19,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Fe...,"[{'Public Speaking': 1}, {'Art': 0}, {'Paintin...",Senior Full Stack Developer at ZEN Rooms (Rock...
20,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Phaya Thai, Bangkok, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,"[{'.NET': 13}, {'Ruby on Rails': 11}, {'Softwa...",iOS Developer
21,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Se...,"[{'Microbiology': 15}, {'Medical Devices': 14}...",Corporate Services in Hong Kong - Thailand
22,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'No...,"[{'Project Management': 0}, {'Business Analysi...",Software engineer at Tarad Dot Com
23,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,Thailand,[{'Organization 1': {'Organization End 1': 'Ma...,"[{'Manufacturing': 0}, {'Electronics': 0}, {'L...",Business Analyst @ Allianz Managed Operations ...
24,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,"[{'Marketing': 8}, {'Marketing Strategy': 13},...",Senior Audit Associate at PwC Thailand
25,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,"[{'Marketing Strategy': 7}, {'Digital Marketin...","Java,JavaScript and Python Developer at AIS - ..."
26,[{'Education 1': {'Education Start 1': '1999.0...,NaN,Thailand,[{'Organization 1': {'Organization End 1': 'PR...,"[{'Apache': 34}, {'MySQL': 32}, {'PHP': 29}, {...","yes at CRASSNA Intertreading co.,ltd."
27,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Au...,"[{'Java': 1}, {'JavaScript': 0}, {'Python': 0}...",Strategy and Policy Maker at Thai Health Promo...
28,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Se...,"[{'Human Resources': 4}, {'Healthcare': 4}, {'...",Software Engineer at Forth Corporation Public ...
29,[{'Education 1': {'Education Start 1': '2008.0...,NaN,Thailand,[{'Organization 1': {'Organization End 1': 'Ma...,"[{'Marketing': 21}, {'Business Development': 1...",Fullstack developer – Aviasales / Jetradar
...,...,...,...,...,...,...
1173,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Suang Luang, Bangkok, Thailand",[{'Organization 1': {'Organization End 1': 'Au...,"[{'MEL': 13}, {'Maya': 12}, {'Rigging': 7}, {'...",Software Engineer at Agoda
1174,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Oc...,"[{'Problem Solving': 2}, {'Operating Systems':...",Consultant at Roland Berger
1175,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,"[{'Customer Service': 3}, {'Teamwork': 3}, {'N...",Manager Online Media Editor at Siam Commercial...
1176,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ap...,"[{'Performance Management': 9}, {'Change Manag...",Senior Business Intelligence Developer
1177,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Oc...,"[{'Sales': 6}, {'Selling': 4}, {'Management': ...",Crew controller at AirAsia Berhad
1178,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,"[{'GSM': 28}, {'3G': 26}, {'2G': 17}, {'Teleco...",Marketing & PR Manager at OPPO Thailand
1179,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Oc...,"[{'English': 4}, {'Digital Marketing': 2}, {'C...",Digital Marketing Director at Cigna Thailand
1180,[{'Education 1': {'Education Start 1': '2008.0...,NaN,"Samara Region, Russian Federation",[{'Organization 1': {'Organization End 1': 'PR...,"[{'PHP': 37}, {'JavaScript': 19}, {'AngularJS'...",Программист – Haulmont [Работу не ищу - хваста...
1181,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Au...,"[{'business development': 1}, {'Key Account Ma...",Media planner at CJ WORX
1182,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Se...,"[{'Data Center': 13}, {'Project Management': 1...",Head of Business Strategy Department at King P...
1183,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ma...,"[{'Business Strategy': 4}, {'Management': 4}, ...",Business Analyst
1184,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Se...,"[{'Human Resources': 16}, {'Change Management'...",☁ CTO | O&M | Solar | Security | AI | IoT
1185,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,"[{'Flight Planning': 29}, {'Charter': 24}, {'C...",Outsource Developer at Stone Apple (A Hitachi ...
1186,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,"[{'Economics': 13}, {'Business Development': 8...",Experienced Software Engineer
1187,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Oc...,"[{'Marketing Strategy': 15}, {'Graphic Design'...",Assistant Brand Manager at Star Fashion
1188,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Wangthong Lang, Bangkok, Thailand",[{'Organization 1': {'Organization End 1': 'De...,"[{'SAP ERP': 1}, {'Integration': 1}, {'ERP': 1...",Senior Developer
1189,[{'Education 1': {'Education Start 1': '2009.0...,NaN,Russian Federation,[{'Organization 1': {'Organization End 1': 'PR...,"[{'Java': 7}, {'JavaScript': 6}, {'XML': 4}, {...",.NET/web 🕸 developer
1190,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,"[{'Venture Capital': 9}, {'Business Strategy':...",Deputy Director at Vatel International Busines...
1191,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Oc...,"[{'Interviews': 6}, {'Recruiting': 6}, {'Human...",Senior Associate at PwC
1192,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Oc...,"[{'Public Relations': 3}, {'Marketing': 3}, {'...",Senior System Engineer at Thomson Reuters
1193,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Prachuap Khiri Khan, Thailand",[{'Organization 1': {'Organization End 1': 'De...,"[{'Internal Communications': 13}, {'Press Rele...",True Arena Hua Hin Event Coordinator at Proud ...
1194,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Se...,"[{'Market Research': 22}, {'Marketing Strategy...",Head of Talent Acquisition at Minor Food Group
1195,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ju...,"[{'Supply Chain Management': 26}, {'Logistics'...",Consultant at Deloitte Thailand
1196,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,Thailand,[{'Organization 1': {'Organization End 1': 'Ma...,"[{'Team Management': 4}, {'Software Developmen...",Assistant Manager - PET Finance at Indorama Ve...
1197,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,"[{'Training': 43}, {'Hotels': 39}, {'Hospitali...","AWS solutions architect, consulting, full st..."
1198,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Se...,"[{'Management': 1}, {'Business Strategy': 1}, ...",Public Relations Specialist at Bangkok Bank PLC
1199,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ma...,"[{'Management': 1}, {'CRM': 1}, {'Business Dev...",Manager - Corporate Finance at PwC
1200,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ja...,"[{'Corporate Law': 9}, {'Legal Advice': 9}, {'...",Human Resources Manager at GMM Grammy PLC
1201,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Ma...,"[{'Recruiting': 99}, {'Executive Search': 99},...",My aspiration in life would be to be happy
1202,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,"Bangkok Metropolitan Area, Thailand",[{'Organization 1': {'Organization End 1': 'Fe...,[{'Banking': 1}],PR Executive & Visual Merchandiser at Gems Pav...

In [37]:
for i in range(len(drop_data)):
    loca = drop_data.iloc[i]["location"]
    sloca = loca.split(" ")
    drop_data.iloc[i] = drop_data.iloc[i].set_value("location", sloca[-1])
drop_data
del drop_data["title"]

In [38]:
len(drop_data)

1203

In [39]:
count_skill = {}
new_data = drop_data.copy()
count = 0
for i in range(len(new_data)):
    skills = new_data.iloc[i]["skills"]
    for skill in skills:     
        k = str(list(skill.keys())[0])
        v = int(list(skill.values())[0])
        if k not in count_skill:
            count_skill[k] = 1
            count += 1
        else:
            count_skill[k] += 1
inData = {}
# print(count_skill)
for i in range(len(new_data)):
    skills = new_data.iloc[i]["skills"]
    print(i)
    for skill in skills:     
        k = str(list(skill.keys())[0])
        v = int(list(skill.values())[0])
        if count_skill[k] > 10:
            if k not in inData:
                new_data.insert(0, k, 0, allow_duplicates=False)
                inData[k] = 1
            new_data.iloc[i] = new_data.iloc[i].set_value(k, 1)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202

In [40]:
skilled_data = new_data.copy()
skilled_data.head()
# drop_data.to_csv("full_candidate.csv")

,MVC,Contract Management,MS Project,Swift,Valuation,Technical Support,UML,Customer Relations,Insurance,3G,...,Entrepreneurship,Management,Business Strategy,Start-ups,Strategy,educations,jobs,location,organizations,skills
0,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,Thailand,[{'Organization 1': {'Organization End 1': 'Ap...,"[{'Strategy': 98}, {'Start-ups': 93}, {'Busine..."
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,Thailand,[{'Organization 1': {'Organization End 1': 'Ma...,"[{'Management': 14}, {'Social Media': 14}, {'M..."
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,Thailand,[{'Organization 1': {'Organization End 1': 'Oc...,"[{'Sales': 4}, {'Logistics': 4}, {'Management'..."
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,Thailand,[{'Organization 1': {'Organization End 1': 'Ju...,"[{'Food': 10}, {'Marketing Strategy': 9}, {'Ma..."
4,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,"[{'Education 1': {'Education Start 1': 'nan', ...",NaN,Thailand,[{'Organization 1': {'Organization End 1': 'Ja...,"[{'FinTech': 42}, {'Biometrics': 41}, {'Tokeni..."

In [41]:
del skilled_data["skills"]
del skilled_data["organizations"]
del skilled_data["educations"]

In [42]:
# 3.5 get the resulting matrix are the one-hot encoded of candidates data
skilled_data

,MVC,Contract Management,MS Project,Swift,Valuation,Technical Support,UML,Customer Relations,Insurance,3G,...,Project Management,Strategic Planning,Business Development,Entrepreneurship,Management,Business Strategy,Start-ups,Strategy,jobs,location
0,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,NaN,Thailand
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,NaN,Thailand
2,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,NaN,Thailand
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,NaN,Thailand
4,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,1,1,1,NaN,Thailand
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
6,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,NaN,Thailand
7,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,1,NaN,Thailand
8,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,NaN,Thailand
9,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,1,NaN,Thailand
10,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,NaN,Thailand
11,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,NaN,Thailand
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,[],Thailand
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,NaN,Thailand
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,NaN,Thailand
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,NaN,Thailand
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
18,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,1,0,0,0,NaN,Thailand
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,NaN,Thailand
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,NaN,Thailand
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
22,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,NaN,Thailand
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,NaN,Thailand
24,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,NaN,Thailand
25,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,1,0,0,NaN,Thailand
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,NaN,Thailand
29,0,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,1,NaN,Thailand
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1173,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
1174,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
1175,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
1176,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,NaN,Thailand
1177,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,NaN,Thailand
1178,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,NaN,Thailand
1179,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
1180,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Federation
1181,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,NaN,Thailand
1182,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,NaN,Thailand
1183,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,1,0,0,NaN,Thailand
1184,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,1,1,0,1,NaN,Thailand
1185,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
1186,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,NaN,Thailand
1187,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,NaN,Thailand
1188,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,NaN,Thailand
1189,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Federation
1190,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,NaN,Thailand
1191,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,NaN,Thailand
1192,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
1193,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,NaN,Thailand
1194,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,0,0,NaN,Thailand
1195,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,1,NaN,Thailand
1196,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
1197,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,NaN,Thailand
1198,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,1,0,1,NaN,Thailand
1199,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,1,0,1,NaN,Thailand
1200,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
1201,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,NaN,Thailand
1202,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand

In [43]:
loc_data = skilled_data.copy()
for i in range(len(loc_data)):
    locs = new_data.iloc[i]["location"]
    print(i)
    if locs not in loc_data:
        loc_data.insert(0, locs, 0, allow_duplicates=False)
    loc_data.iloc[i] = loc_data.iloc[i].set_value(locs, 1)
loc_data

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202

,Other,California,Hungary,Poland,Singapore,India,Belarus,Kingdom,States,area,...,Project Management,Strategic Planning,Business Development,Entrepreneurship,Management,Business Strategy,Start-ups,Strategy,jobs,location
0,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,NaN,Thailand
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,NaN,Thailand
2,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,NaN,Thailand
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,NaN,Thailand
4,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,1,1,1,NaN,Thailand
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
6,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,NaN,Thailand
7,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,1,NaN,Thailand
8,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,NaN,Thailand
9,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,1,NaN,Thailand
10,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,NaN,Thailand
11,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,NaN,Thailand
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,[],Thailand
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,NaN,Thailand
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,NaN,Thailand
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,NaN,Thailand
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
18,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,1,0,0,0,NaN,Thailand
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,NaN,Thailand
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,NaN,Thailand
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
22,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,NaN,Thailand
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,NaN,Thailand
24,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,NaN,Thailand
25,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,1,0,0,NaN,Thailand
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,NaN,Thailand
29,0,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,1,NaN,Thailand
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1173,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
1174,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
1175,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
1176,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,NaN,Thailand
1177,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,NaN,Thailand
1178,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,NaN,Thailand
1179,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
1180,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Federation
1181,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,NaN,Thailand
1182,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,NaN,Thailand
1183,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,1,0,0,NaN,Thailand
1184,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,1,1,0,1,NaN,Thailand
1185,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
1186,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,NaN,Thailand
1187,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,NaN,Thailand
1188,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,NaN,Thailand
1189,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Federation
1190,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,NaN,Thailand
1191,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,NaN,Thailand
1192,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
1193,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,NaN,Thailand
1194,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,1,0,0,NaN,Thailand
1195,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,1,0,1,NaN,Thailand
1196,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
1197,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,NaN,Thailand
1198,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,1,NaN,Thailand
1199,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,1,0,1,NaN,Thailand
1200,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand
1201,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,NaN,Thailand
1202,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,Thailand

# 4. Final Data

In [44]:
final_data = loc_data.copy()

In [45]:
del final_data["location"]

# final_data.to_csv("full_candidate_final.csv")